@import url("https://fonts.googleapis.com/css?family=Bangers|Roboto:300,400");
html, body {
  background-color: #F1F1F1; }

.navbar-desktop {
  height: 70px;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #3498db;
  border-bottom: 3px solid #2980b9; }
  .navbar-desktop li {
    float: left;
    height: 100%;
    list-style: none; }
    .navbar-desktop li .title {
      top: 50%;
      color: white;
      font-size: 40px;
      margin-left: 25px;
      position: relative;
      display: inline-block;
      font-family: "Bangers",fantasy;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .navbar-desktop li .search {
      top: 50%;
      height: 40px;
      overflow: hidden;
      margin-left: 25px;
      border-radius: 5px;
      position: relative;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      .navbar-desktop li .search input {
        padding: 0;
        float: left;
        border: none;
        width: 225px;
        height: 100%;
        outline: none;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: "Roboto",sans-serif; }
      .navbar-desktop li .search button {
        padding: 0;
        float: left;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        background-size: 50%;
        background-color: #FFF;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../icon/search.png"); }
    .navbar-desktop li .navbar-button {
      top: 50%;
      padding: 0;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      margin-left: 25px;
      position: relative;
      border-radius: 5px;
      background-size: 60%;
      border: 2px solid #FFF;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .navbar-desktop li .show-category {
      background-image: url("../icon/menu.png"); }
    .navbar-desktop li .shoping-cart {
      background-image: url("../icon/shopping-cart.png"); }
  .navbar-desktop li:last-child {
    margin-right: 25px; }

.navbar-mobile {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #3498db;
  border-bottom: 3px solid #2980b9; }
  .navbar-mobile li {
    width: 100%;
    height: 50px;
    list-style: none;
    position: relative; }
    .navbar-mobile li .navbar-button {
      top: 0;
      bottom: 0;
      padding: 0;
      width: 30px;
      height: 30px;
      border: none;
      margin: auto;
      outline: none;
      position: absolute;
      border-radius: 5px;
      background-size: 60%;
      border: 2px solid #FFF;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent; }
    .navbar-mobile li .show-category {
      left: 20px;
      background-image: url("../icon/menu.png"); }
    .navbar-mobile li .shoping-cart {
      right: 20px;
      background-image: url("../icon/shopping-cart.png"); }
    .navbar-mobile li .title {
      top: 50%;
      color: white;
      display: block;
      font-size: 30px;
      position: relative;
      text-align: center;
      font-family: "Bangers",fantasy;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .navbar-mobile li .search {
      height: 40px;
      position: relative;
      padding: 0 20px 0 20px; }
      .navbar-mobile li .search input {
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 50px;
        font-family: "Roboto",sans-serif; }
      .navbar-mobile li .search button {
        top: 0;
        padding: 0;
        right: 20px;
        float: left;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        position: absolute;
        background-size: 50%;
        background-color: #FFF;
        border-radius: 0 5px 5px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../icon/search.png"); }

@media screen and (max-width: 650px) {
  .navbar-mobile {
    display: block; }

  .navbar-desktop {
    display: none; } }
@media screen and (min-width: 651px) {
  .navbar-mobile {
    display: none; }

  .navbar-desktop {
    display: block; } }
.category-body {
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0;
  width: 80%;
  margin: auto;
  display: none;
  overflow: hidden;
  position: absolute;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
  .category-body li {
    padding: 0;
    list-style: none; }
    .category-body li .each-category-container {
      padding-top: 100%;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .category-body li .each-category {
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      .category-body li .each-category .wrap {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
        .category-body li .each-category .wrap img {
          width: 50%;
          margin: auto;
          display: block; }
        .category-body li .each-category .wrap span {
          display: block;
          font-size: 16px;
          margin-top: 25px;
          text-align: center;
          font-family: "Roboto",sans-serif; }
        @media screen and (max-width: 768px) {
          .category-body li .each-category .wrap span {
            margin-top: 15px; } }
    .category-body li .each-category:hover {
      background-color: #F1F1F1; }

.shopping-cart-list {
  left: 0;
  right: 0;
  z-index: 1;
  width: 80%;
  margin: auto;
  display: none;
  padding: 25px;
  max-height: 500px;
  overflow-y: scroll;
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0 0 10px 10px;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
  .shopping-cart-list li {
    margin: 0;
    list-style: none; }
    .shopping-cart-list li .column img {
      width: 80%;
      margin: auto;
      display: block; }
    .shopping-cart-list li .column span {
      display: block;
      margin-bottom: 10px; }
    .shopping-cart-list li .column button {
      outline: none; }
    .shopping-cart-list li .column .title {
      font-size: 25px;
      font-weight: 300;
      font-family: "Roboto",sans-serif; }
    .shopping-cart-list li .column .price {
      font-size: 16px;
      font-weight: 400;
      color: #f25a5a;
      font-family: "Roboto",sans-serif; }
    .shopping-cart-list li .checkout-group {
      overflow: hidden;
      position: relative; }
      .shopping-cart-list li .checkout-group span {
        top: 50%;
        font-size: 20px;
        position: absolute;
        color: #f25a5a;
        font-family: "Roboto",sans-serif;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .shopping-cart-list li .checkout-group button {
        float: right;
        outline: none; }
    .shopping-cart-list li .empty {
      color: #BBB;
      width: 100%;
      font-size: 40px;
      text-align: center;
      font-family: "Roboto",sans-serif;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    @media screen and (max-width: 650px) {
      .shopping-cart-list li .empty {
        font-size: 25px; } }
  .shopping-cart-list .row {
    width: 100%;
    margin-bottom: 20px; }

.trending-slide {
  width: 100%;
  margin: auto;
  max-width: 850px;
  padding-top: 25%;
  margin-top: 25px;
  position: relative; }
  .trending-slide .wrap {
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute; }
  .trending-slide .carousel {
    height: 100%; }
    .trending-slide .carousel .slider {
      margin: 0;
      padding: 0;
      height: 100%; }
      .trending-slide .carousel .slider li {
        height: 100%; }
      .trending-slide .carousel .slider span {
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-position: center; }

.body-header-title {
  width: 100%;
  margin: auto;
  max-width: 900px;
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .body-header-title span {
    color: #888;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    font-family: "Roboto",sans-serif; }
  .body-header-title span::before {
    content: "";
    width: 100%;
    height: 2px;
    bottom: -5px;
    position: absolute;
    background-color: #888;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .body-header-title span:hover::before {
    width: 120%; }

.item-list-body {
  padding: 0;
  width: 100%;
  width: 100%;
  margin: auto;
  max-width: 900px; }
  .item-list-body li {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; }
    .item-list-body li .wrap {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 1px solid #bdc3c7;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      .item-list-body li .wrap img {
        width: 70%;
        margin: auto;
        display: block; }
      .item-list-body li .wrap .desc {
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
        padding: 0 10px 0 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Roboto",sans-serif; }
        .item-list-body li .wrap .desc span {
          width: 100%;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .item-list-body li .wrap .desc .price {
          color: #e74c3c;
          margin-top: 10px; }
      .item-list-body li .wrap .button {
        padding: 0 10px 0 10px; }
        .item-list-body li .wrap .button button {
          outline: none;
          font-size: 15px;
          font-weight: 400;
          margin-top: 10px;
          font-family: "Roboto",sans-serif; }
    .item-list-body li .wrap:hover {
      background-color: #FFF;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
